@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.input {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 4px 10px;
  outline: none;
  resize: none;
}

.input:focus {
  border: 2px solid #2c77f6;
}

td,th{
  padding: 8px 16px;
}